* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Card container */
.card {
    width: 420px;
    padding: 22px;
    border-radius: 14px;
    background: linear-gradient(180deg, #2a1f10, #0f0b05);
    color: white;
}

/* Header */
.header {
    margin-bottom: 22px;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

/* Content */
.content h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content p {
    font-size: 14px;
    color: #cfcfcf;
}