body {
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box, .btn {
  width: 320px;
  height: 52px;
  border-radius: 25px;
  margin-bottom: 12px;
}

.input-box {
  border: 2px solid #f7c600;
  background: #111;
  color: white;
  text-align: center;
}

.btn {
  background: #f7c600;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.room {
  width: 320px;
  background: #222;
  margin-top: 10px;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  color: red;
  cursor: pointer;
}
