body {
  margin: 0;
  background-color: black;
  color: white;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Title */
.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
}

/* Input box */
.input-box {
  width: 100%;
  max-width: 320px;
  height: 52px;

  padding: 14px;
  border-radius: 25px;

  background-color: #111;
  border: 2px solid #f7c600;

  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

  margin-bottom: 15px;
  outline: none;
  box-sizing: border-box;
}

.input-box::placeholder {
  color: #aaa;
}

/* Button */
.btn {
  width: 100%;
  max-width: 320px;
  height: 52px;

  padding: 14px;
  border-radius: 25px;

  background-color: #f7c600;
  border: none;

  color: black;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s ease;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: #666;
  color: white;
}

/* Active Rooms */
#roomsContainer {
  width: 100%;
  max-width: 320px;
}

/* Room item */
.room {
  background-color: #222;
  padding: 12px 14px;
  margin-top: 10px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

/* Delete icon */
.delete-btn {
  cursor: pointer;
  font-size: 18px;
  color: #ff4d4d;
  transition: 0.2s ease;
}

.delete-btn:hover {
  color: white;
}
