* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    height: 100vh;
}

/* Card */
.card {
    width: 420px;
    padding: 22px;
    border-radius: 14px;
    background: linear-gradient(180deg, #2a1f10, #0f0b05);
    color: white;
}

/* Header */
.header {
    margin-bottom: 22px;
}

.title {
    font-family: 'Pirata One', cursive;
    font-size: 36px;
    font-weight: bold;
    color: #5a3a1a;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 
        2px 2px 0 #caa36a,
        4px 4px 0 #8b5a2b;
}

/* Content */
.content {
    border-radius: 15px;
    border: 2px solid #f5c400;   
    padding: 15px;
}

.content h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.content p {
    font-size: 14px;
    color: #cfcfcf;
}

/* ========== ROOMS SECTION ========== */
.rooms-section {
    margin-top: 20px;
}

.rooms-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #f5c400;
}

/* Room card */
.room {
    background-color: #1a160b;
    border: 2px solid #f5c400;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 8px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.room:hover {
    background-color: #f5c400;
    color: black;
}
