body
{
background:black;
color:gold;
font-family:Arial;
text-align:center;
}

.card
{
width:420px;
margin:auto;
margin-top:60px;
padding:25px;
background:#111;
border-radius:15px;
box-shadow:0 0 40px gold;
}

button
{
padding:10px 20px;
margin:10px;
background:gold;
border:none;
font-weight:bold;
border-radius:8px;
cursor:pointer;
}

#reader
{
width:100%;
margin-top:15px;
}

#currentClue
{
margin-top:15px;
padding:12px;
border:2px solid gold;
border-radius:10px;
}

#cluesContainer
{
margin-top:15px;
}